body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{
        position: relative;
        width: 940px;
        margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin:0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;    
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; 
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.produtos li:hover{
    border-color:#c78c19 ;

}
.produtos li:active{
    border-color: green;
}
.produtos li:hover h2{
    font-size: 40px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 30px;
    font-weight: bold;
    margin:10px 0 0;
}
footer{
    text-align: center;
    background: url("./Imagens/bg.jpg");
    padding: 40px 0px;
}
.copyright{
    color: #ffffff;
    margin:20px 0 0;
}
main{

}
form{
    margin: 40px 0;

}
form label, form legend{
    text-align: center;    
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    width: 50%;
    margin: 10px auto;
    display: block;    
    padding:  10px 20px;
}
.checkbox{
    margin:20px 0;
}
.seletor{
    margin: 10px auto;
}
select{
    display: block;
    margin: 10px auto;
}
.enviar{
    display: block;
    margin: 10px auto;
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;    
}
.enviar:hover{
    background: darkorange; 
    transform: scale(1.2);
}
table{
     margin: 20px auto 40px auto;
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border:1px solid #000000;
    padding: 8px 15px ;
}
/*css Pagina inicial */
.banner{
    width: 100%;
    height: 25%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    padding: 3em 0;
    background:#FEFEEE ;

}
.principal-box{
    width: 940px;
    margin: 0 auto;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto 50px auto;
}
.beneficios{
    padding: 3em 0;
    background: #888888;
    
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.itens{
    line-height: 1.5em ;
}
.itens:before{
    content: "\269D";
}
.itens:first-child{
    font-weight: bold;
}
.imagem-beneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms; 
    box-shadow: 10px 10px 10px 20px #000000;
}
.imagem-beneficios:hover{
    opacity: 0.3;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEEE,#888888);
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.video{
   width: 560px;
   margin: 1em auto; 
}
@media screen and (max-width: 480px){
    .caixa,.principal,.conteudo-beneficios,.mapa-conteudo,.principal-box,.video,.produtos{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .lista-beneficios ,.imagem-beneficios{
        width: 100%;
    }
    .lista-beneficios{
        margin: 0 0 30px;
    }
    .imagem-beneficios{
        box-shadow: none;
    }
    .produtos li{
        display: block;
        width: 100%;
        margin: 0;
    }
    .produtos h2{
        text-align: center;
        
    }

    label {
        text-align: center;
        margin: 30px;
    }
    .input-padrao{
        margin:25px auto;
        width: auto;
        border: 2px solid #000000;
    }
    legend{
        text-align: center;
    }
    select{
        display: block;
        margin: 10px auto;
    }
    .enviar{
        display: block;
        margin:10px auto;
    }
    table{
        margin: 10px auto;
    }

}